.idea/
.vscode/
.venv*/
venv*/
__pycache__/
dist/
.coverage*
htmlcov/
.tox/
docs/_build/
.env
controller/__pycache__/
DBmodels/__pycache__/
backend/routes/__pycache__/user_routes.cpython-312.pyc
lightning_logs
backend/routes/__pycache__/user_routes.cpython-310.pyc
*.ckpt