@import url("./variable.css");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .printable-content {
    width: 100%;
    height: auto;
    overflow: visible !important;
    page-break-inside: avoid !important;
    display: block !important;
  }
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  border: none !important;
}

.MainContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
}

.MenuContainer {
  margin: 0;
  width: 25%;
  overflow-y: hidden;
  border-right: 0.0775rem solid var(--grey2);
}

.contentMainContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 75%;
}

.ContentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--white);
  border-bottom: 0.0625rem solid var(--grey2);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Content and Project Cards Section */
.contentContainer {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: var(--white);
}
